global:
  scrape_timeout_offset: 1000ms
  min_interval: 0s
  max_connections: 3
  max_idle_connections: 3
target:
  data_source_name: 'sqlserver://your_username:your_password@192.168.0.100:1433'  
  collectors: [mssql_custom]
collector_files: 
  - "mssql_custom.collector.yml"
