#!/bin/bash

### Config #######
export DB_ADDRESS="192.168.0.3:2866"
export DB_USER=exporter
export MYSQLD_EXPORTER_PASSWORD='eXporteR!82'
export LISTEN_ADDRESS="0.0.0.0:9101"
### Config #######


BNAME=`basename $0`
LOGFILE="/etc/exporter/log/$BNAME.log"

nohup /usr/local/bin/mysqld_exporter \
--mysqld.address="$DB_ADDRESS" \
--mysqld.username=$DB_USER \
--web.listen-address=$LISTEN_ADDRESS \
--no-collect.engine_tokudb_status \
--collect.global_status \
--collect.global_variables \
--collect.info_schema.clientstats \
--collect.info_schema.innodb_metrics \
--no-collect.info_schema.innodb_tablespaces \
--no-collect.info_schema.innodb_cmp \
--no-collect.info_schema.innodb_cmpmem \
--collect.info_schema.processlist \
--collect.info_schema.processlist.min_time=0 \
--collect.info_schema.query_response_time \
--collect.info_schema.replica_host \
--no-collect.info_schema.tables \
--collect.info_schema.tables.databases=｡ｮ*｡ｯ \
--collect.info_schema.tablestats \
--collect.info_schema.schemastats \
--collect.info_schema.userstats \
--collect.mysql.user \
--collect.perf_schema.eventsstatements \
--collect.perf_schema.eventsstatements.digest_text_limit=1024 \
--collect.perf_schema.eventsstatements.limit=300 \
--collect.perf_schema.eventsstatements.timelimit=86400 \
--collect.perf_schema.eventsstatementssum \
--no-collect.perf_schema.eventswaits \
--no-collect.perf_schema.file_events \
--no-collect.perf_schema.file_instances \
--collect.perf_schema.file_instances.remove_prefix=false \
--no-collect.perf_schema.indexiowaits \
--no-collect.perf_schema.memory_events \
--collect.perf_schema.memory_events.remove_prefix=false \
--no-collect.perf_schema.tableiowaits \
--no-collect.perf_schema.tablelocks \
--no-collect.perf_schema.replication_group_members \
--no-collect.perf_schema.replication_group_member_stats \
--no-collect.perf_schema.replication_applier_status_by_worker \
--collect.slave_status \
--no-collect.slave_hosts \
--no-collect.heartbeat \
--collect.heartbeat.database=true \
--collect.heartbeat.table=true \
--collect.heartbeat.utc &
