### Config #################################
export ORA_DB_ADDRESS=192.168.0.101:1521
export ORA_DB_SERVICE_NAME=PROD
export ORA_DB_USER=oramon
export ORA_DB_PASSWORD=your_password
export ORA_LISTEN_ADDRESS=0.0.0.0:9401
############################################

cd /etc/exporter/oracle
nohup /usr/local/bin/oracledb_exporter  \
  --default.metrics "oracle_custom_metrics.toml"  \
  --log.level error \
  --web.listen-address $ORA_LISTEN_ADDRESS \
  --database.dsn=oracle://$ORA_DB_USER:$ORA_DB_PASSWORD@$ORA_DB_ADDRESS/$ORA_DB_SERVICE_NAME >> oracle_n.log &
